@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap&family=Poppins:wght@300&display=swap&family=Alfa+Slab+One&display=swap');

body{
    font-family: 'Poppins', 'sans-serif';
    background-color: #06283D;
}
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    color: #DFF6FF;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 5px;
    font-size: 35px;
    margin-bottom: 0;  
}
.subtitulo{
    color: #DFF6FF;
    font-size: 20px;
}
.tarjetas,
.btn-ataque-group{
    display: flex;
    gap: 10px;
}
.tarjeta-de-mokepon{
    width: 180px;
    height: 100px;
    background-color: #256D85;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DFF6FF;
}

.tarjeta-de-mokepon:hover{
    cursor: pointer;
    background: #47B5FF;
}

.tarjeta-de-mokepon img{
    width: 80px;
}
input{
    display: none;
}

input:checked + label{
    background: #47B5FF;
}

#btn-mascota{
    margin-top: 30px;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid #DFF6FF;
    color: #DFF6FF;
    font-family: 'Poppins', 'sans-serif';
}

#btn-mascota:hover{
    cursor: pointer;
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.btn-ataque{
    background-color: #2146C7;
    color: #DFF6FF;    
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    font-family: 'Poppins', 'sans-serif';
}

.btn-ataque:hover{
    cursor: pointer;
    background: #47B5FF;
    color: black;
    font-weight: bold;
}

#mensajes{
    width: 280px;
    background: #EEEEEE;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

#btn-reiniciar{
    border-color: transparent;
    color: #2146C7;
    font-family: 'Poppins', 'sans-serif';
}

#btn-reiniciar:hover{
    cursor: pointer;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ataques{
    display: grid;
    grid-template-columns: 150px 150px;
}

.ataques-jugador,
.ataques-enemigo{
    color: #DFF6FF;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 360px){
    .tarjetas{
        flex-direction: column;
    }
    .btn-ataque-group{
        flex-direction: column;
    }
}